In [1]:
#Create a List of Numbers

list_of_number=(0,1,2,3,4,5,6,7,8,9)
print(list_of_number)
total_sum=sum(list_of_number)
print("total:",total_sum)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
total: 45

In [2]:
#Tuple Operations 

list_fruits=("apple","banana","pineapple","papaya")
print("orginal_list :", list_fruits)
list_rereverse=list_fruits[::-1]
print("reverse list :", list_rereverse)

orginal_list : ('apple', 'banana', 'pineapple', 'papaya')
reverse list : ('papaya', 'pineapple', 'banana', 'apple')

In [7]:
#Dictionary: Student Grades

student_grades = {}
student_grades['Alice'] = 90
student_grades['Bob'] = 78

#update grade

student_grades['Bob'] = 85
student_grades['Charlie'] = 95
print("Student Grades:")
for student, grade in student_grades.items():
    print(f"{student}: {grade}")

Student Grades:
Alice: 90
Bob: 85
Charlie: 95

In [3]:
#Set Operations: Unique Elements

org_list=[1,2,3,3,4,5,5,6,7,8,9,9]
print(org_list)
remove_dup=set(org_list)
print(remove_dup)

[1, 2, 3, 3, 4, 5, 5, 6, 7, 8, 9, 9]
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [4]:
#List Comprehension

squares = [x**2 for x in range(1, 11)]
print("List of squares:", squares)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
#Merge Two Dictionaries

grades_dict = [    'Alice', 85,    'Bob',  90,    'Charlie', 78,    'David', 92]
ages_dict = [    'Alice', 20,    'Bob', 22,    'Charlie', 21,    'David', 23]
merged_dict=( grades_dict, ages_dict)
print(merged_dict)

(['Alice', 85, 'Bob', 90, 'Charlie', 78, 'David', 92], ['Alice', 20, 'Bob', 22, 'Charlie', 21, 'David', 23])

In [18]:
#Set Intersection and Union

set1 = {1, 2, 3, 4,5 }
set2 = {5, 6, 7, 8, 9}
intersection = set1 & set2
print("Intersection:", intersection)

unoin= set1 | set2
print("union:", unoin)

Intersection: {5}
union: {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [20]:
#List to Dictionary Conversion
    
student_ng= [("naveen",90), ("kumar",95), ("krishna",99)]
dic_con=dict(student_ng)
print(dic_con)

{'naveen': 90, 'kumar': 95, 'krishna': 99}

In [3]:
#Unpacking Tuples

person_details = ("Naveen", 24, "Hyderabad")
name, age, city = person_details
print("Name:", name)
print("Age:", age)
print("City:", city)

Name: Naveen
Age: 24
City: Hyderabad

In [6]:
# Create the classroom dictionary


classroom = {'Alice': {'Math': 90, 'Science': 85, 'History': 78},'Bob': {'Math': 78, 'Science': 92, 'History': 88}}

student_name = 'Alice'
alice_grades = classroom.get(student_name)
if alice_grades:
    print(f"Grades for {student_name}: {alice_grades}")
else:
    print(f"{student_name} not found in the classroom.")

Grades for Alice: {'Math': 90, 'Science': 85, 'History': 78}